In [ ]:
# >> 과제 : list1에서 다음을 수행하세요. <<

# 1. 33을 출력
# 2. 82를 리스트에 추가
# 3. 82의 갯수를 구하기
# 4. 87의 인덱스 구하기
# 5. 인덱스 3에서 10까지의 값을 출력하고 list2에 내림차순 정렬하기
# 6. 39를 11로 변경
# 7. [69,45,58] 출력
# 8. 짝수 인덱스의 값으로 구성된 리스트 출력하기
# 9. 인덱스가 가장 큰 수를 삭제하기
# 10. 인덱스*번호*가 3,5인 값으로 사칙연산하기

list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]

In [14]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]

print(list1[11][1])

33

In [16]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
# 2. 82를 리스트에 추가

list1.append(82)
print(list1)

[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

In [17]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
# 3. 82의 갯수를 구하기

list1.count(82)

1

In [19]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
# 4. 87의 인덱스 구하기

list1.index(87)

5

In [45]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
# 5. 인덱스 3에서 10까지의 값을 출력하고 list2에 내림차순 정렬하기

# print(list1[3:10])

# list2 = sorted(list1, reverse= True)
# print(list2)


list2 = list1[3:11]           #끝날때는 그 앞에까지라 3~11 이렇게 끊어야 함.
list2.sort()
list2.reverse()
print(list2)

[87, 39, 29, 19, 15, 13, 4]

In [46]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
# 6. 39를 11로 변경

a = list1.index(39)
list1[a] = 11
print(list1)

[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [47]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
# 7. [69,45,58] 출력

print(list1[2::-1])

[69, 45, 58]

In [48]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
# 8. 짝수 인덱스의 값으로 구성된 리스트 출력하기

print(list1[0::2])

[58, 69, 4, 29, 39, 54, 27, 63, 22]

In [49]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
# 9. 인덱스가 가장 큰 수를 삭제하기

del list1[-1]
print(list1)

[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22]

In [51]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
# 10. 인덱스*번호*가 3,5인 값으로 사칙연산하기

a=list1[3]
b=list1[5]

print(a+b)
print(a-b)
print(a*b)
print(a/b)

106
-68
1653
0.21839080459770116

## 3/7 수업내용

### 튜플

In [53]:
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

print(tuple1[:])
print(tuple3[2])
print(tuple3[3][4])
print(tuple3[4][1])

(1, 2, 3, 4, 5)
abc
5
b

In [54]:
list1 = [1,2,3,4,5]

print(list1)
list1[0] =6
print(list1)

[1, 2, 3, 4, 5]
[6, 2, 3, 4, 5]

In [60]:
tuple1=(1,2,3,4,5)
tuple[0]=6

# 자료가 변경되지 않아야 하는 경우에 튜플을 사용한다.
# 수정 및 삭제는 오류로 뜸.

TypeError: 'type' object does not support item assignment

In [63]:
t1=(1,) #1개의 요소만 가질 때에는 요소 뒤에 콤마(,)붙여야 함.
print(t1)
print(type(t1))

t2 = 1,2,3
print(t2)
print(t2*3) #연산 가능

t3=t1+t2
print(t3)

t4=(1)
print(t4)
print(type(t4)) #콤마없으면 정수로 처리됨.

(1,)
<class 'tuple'>
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1
<class 'int'>

### 자료형 - 사전 (키와 값을 하나의 요소로 하는 순서가 없는 집합, 인덱스 없음.)

In [2]:
d1 = {'a':1, 'b':2, 'c':3}
print(d1['a']) #인덱싱을 하기 위해 키값을 넣는다.
d1['b'] = 5
print(d1)
d1['d']=4
print(d1)
print(len(d1))

1
{'a': 1, 'b': 5, 'c': 3}
{'a': 1, 'b': 5, 'c': 3, 'd': 4}
4

In [65]:
print(d1.keys()) #키
print(d1.values()) #값
print(d1.items()) #키와 값을 한 번에 (한 쌍으로) 뽑아줌.

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [66]:
c1 = {'삼각김밥':700, '컵라면':1500, '감동란':2500}
print(c1.keys())
print(c1.values())
print(c1.items())

dict_keys(['삼각김밥', '컵라면', '감동란'])
dict_values([700, 1500, 2500])
dict_items([('삼각김밥', 700), ('컵라면', 1500), ('감동란', 2500)])

In [68]:
# 슈퍼스타 k2 top 6 순위

c2 = {'허각':1, '존박':2, '장재인':3, '강승윤':4, '김지수':5, '김은비':6}
print(c2.keys())
print(c2.values())
print(c2.items())

dict_keys(['허각', '존박', '장재인', '강승윤', '김지수', '김은비'])
dict_values([1, 2, 3, 4, 5, 6])
dict_items([('허각', 1), ('존박', 2), ('장재인', 3), ('강승윤', 4), ('김지수', 5), ('김은비', 6)])

In [71]:
name=input('이름를 입력하세요: ',)
phone=int(input('전화번호를 입력하세요: ')) 
birth=int(input('생일를 입력하세요: '))
d2 = {'name': name, 'phone': phone, 'birth': birth}
print(d2)

이름를 입력하세요: ㅇㅇㅇ
전화번호를 입력하세요: 555
생일를 입력하세요: 1018
{'name': 'ㅇㅇㅇ', 'phone': 555, 'birth': 1018}

In [44]:
# 자료형 - 집합 set (중복을 허용하지 않으며 순서가 없다.)

s1 = set([1,2,5,4,3])
s2 = set('HELLO')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'O', 'E', 'L', 'H'}

In [73]:
# 집합은 인덱싱으로 값을 얻을 수 없으며, 필요시 *리스트나 *튜플로 변환 후 인덱싱

l1 = list(s1)
print(l1)
print(l1[1])

l2 = list(s2)
print(l2)
print(l2[1])

[1, 2, 3, 4, 5]
2
['L', 'H', 'E', 'O']
H

In [74]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요.
# 합집합(s1 | s2) => or (shift+\), 교집합(s1&s2) => and(앤퍼센트)

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(list(s1|s2))
print(list(s1&s2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [77]:
# 들여쓰기 (안 하면 에러남)

li=['a','b','c']
if 'a' in li:  #조건이 끝나면 : 찍어주기
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')

a가 li에 있습니다.

In [79]:
# 문자열 포맷 (f포맷)

name = '홍길순'
age = 22
f'나의 이름은 {name}이고 나이는 {age}이다.ㅋ'

'나의 이름은 홍길순이고 나이는 22이다.ㅋ'

In [82]:
d={'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}이고 나이는 {d["age"]}이다.ㅋ'

'나의 이름은 홍길동이고 나이는 30이다.ㅋ'

In [87]:
name="정슬기"
color="파란색"

f'저의 이름은 {name}이고, 좋아하는 색은 {color}입니다.'

'저의 이름은 정슬기이고, 좋아하는 색은 파란색입니다.'

In [88]:
y = 3.141952
f'{y:0.4f}' #소수점 4자리까지 표현, f:float

'3.1420'

In [89]:
f'{y:10.4f}' #총 자리수 10, 소수점 4 표현.

'    3.1420'

In [92]:
# 포멧함수

f1 = "{}선수가 {}등 입니다.".format('홍길동',1)
f2 = "%s선수가 %d등 입니다."%("홍길동",1)

print(f1)
print(f2)

홍길동선수가 1등 입니다.
홍길동선수가 1등 입니다.

In [94]:
# 아래와 같이 출력하세요

num1=12345
print(num1)
print(f'{num1:10.0f}')

num2=12.3456789
print(num2)
print(f'{num2:16.3f}')

12345
     12345
12.3456789
          12.346

In [95]:
# 제어문 - if elif else
# '수입과 지출 금액을 비교하여 수입이 많으면 저축증가, 반대면 빚이증가, 같으면 현상유지 출력'

i=5,000,000
e=5,000,000

if i>e:
    print('저축증가')   #조건을 만족하면 빠져나가서 나머지에서 아래 조건문 실행
elif i<e:
    print('빚이증가')   #조건이 많을 때 elif를 여러 번 쓰면 됨.
else:
    print('현상유지')

현상유지

In [98]:
# for 반복문

numbers = [5,25,6,20,7,25]  #을 나열해라
    
# print(numbers[0])
# print(numbers[1])
# print(numbers[2])
# print(numbers[3])
# print(numbers[4])
# print(numbers[5]) ... 의 사태를 막기 위해 for 반복문을 씁니다.

for n in numbers:         #number n호환 가능
    print(number,end='♡')

5♡25♡6♡20♡7♡25♡

In [102]:
import numpy as np
num = np.arange(10).tolist()
for n in num:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [108]:
import numpy as np
num = np.arange(5).tolist()
for n in num:
    print("왜")

왜
왜
왜
왜
왜

In [110]:
# for continue break
# 1~10 범위의 정수에서 1부터 5까지만 출력하세요

for i in range(1,11):
    print(i,end=' ')
    if i<5:             # print가 위에 있어서 5는 출력이 됨.(4-> 컨티뉴해서 5 출력 이후 break)
        continue
    else:
        break

1 2 3 4 5

In [127]:
# number 리스트에서 15.20.25를 출력하세요 (for, if 조건 사용 필수)

# numbers=[5,15,6,20,7,25]

# for n in numbers:
    
# if num > 10:
#          print(n)
# else:
#     break


numbers=[5,15,6,20,7,25]

for number in numbers:
    if number>10:
        print(number,end=" ")
    else:
        continue

# numbers=[5,15,6,20,7,25]
# li=[15,20,25]

# for number in numbers:
#     if number in li:
#         print(number,end=' ')  
        
        
# numbers = [5,15,6,20,7,25]
# i = 0
# for number in numbers:
#     i += 1
#     if i%2 == 1:
#         continue
#     else:
#         print(number, end=" ")     #짝수번

15 20 25

In [129]:
# while : 참일 때 무한반복
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하시오.

x=1
sum=0  #합 0으로 초기화

while 1:    #0=false  1=true(츄르..?. 2도 가능하긴 한데 통상적으로 1 사용.)
    sum=sum+x
    if sum>1000:
        print(x)
        print(sum)
        break
    x=x+1

45
1035

In [3]:
# while 문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구하세요.

# x=1
# sum=0

# while x<1000:
#     if x%3==0:
#         print(x)
#         break

#     x=x+1

i = 1
sum = 0
while i < 1001:
    if i%3 ==0:
        sum = sum+i
    i += 1
print(sum)

166833

In [14]:
# 1부터 100까지의 정수 중 5에서 95까지의 합을 구하세요.

# x=1
# sum=0
# while x<100:
#     sum=sum+x
#     if x<5:
#         break
#     else:
#         print(sum)
    
# x=x+1


i = 0
sum = 0
while i < 101:
    i += 1
    if i > 4:
        if i < 96: #ifif문, 조건 중복가능
            sum = sum + i
print(sum)

4550

In [15]:
# 5를 2로 나누었을 때의 몫과 나머지를 구하세요.

# i=5
# x=2
# y=i/x
# z=i%x

# print(y)
# print(z)


a = 5//2
b = 5%2

print("5를 2로 나누었을 때의 몫은 %s, 나머지는 %s입니다."%(a,b))

5를 2로 나누었을 때의 몫은 2, 나머지는 1입니다.

In [16]:
# 101의 3승을 구하세요.

print(101**3)

1030301

In [18]:
# python과 3,8,3을 합쳐서 python 3.8.3으로 출력하세요.
a='python '
b='3.8.3'

print(a+b)

python 3.8.3

In [20]:
# 5의 3승을 3으로 나누었을 때의 나머지를 복합대입연산자를 이용해서 구하세요.

# i=5**3
# print(i%3)

print((5**3)%3)

2

In [40]:
# Q. 아래와 같이 출력되도록 하세요.

# 이름이 무엇인가요? kevin / 제 이름은 kevin입니다.

# name='kevin'

# print(f'이름이 무엇인가요? {name}')
# print(f'제 이름은 {name}입니다.')

name=input('이름이 무엇인가요?: ',)
f'제 이름은 {name}입니다.'

이름이 무엇인가요?: kevin

'제 이름은 kevin입니다.'

In [42]:
#Q.숫자 세 개를 입력해서 첫 번째 숫자를 두 번째 숫자에 승한뒤 세 번째 숫자로 나누었을 때 몫을 구하세요.

x=int(input("숫자 3개를 입력하세요: "))
y=int(input())
z=int(input())

print(x**y//z)

숫자 3개를 입력하세요: 5
3
9
13

### 3/7 과제

- while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해보세요.
- 1부터 5까지 입력해서 12345를 출력하세요.
- [0,1,2,3,4,5,6,7,8,9,'a','b','c']에서 9와 'a'를 삭제 후 리스트로 출력하세요.
- [0,1,2,3,4,5,6,7,8,'b','c']에서 'c'를 삭제 후 출력하세요.
- [4,8,5,4,8,4,3,9,1,9]를 내림차순으로 정렬하세요.
- format함수를 이용해서 다음과 같은 형식으로 현재날짜/시간을 출력하세요.
" 2021년 12월 29일 15시 47분 30초 "
- 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.
- 정수를 입력하면 홀수 짝수를 판별하는 프로그램을 작성하세요.

1. 계절 구분 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작.
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성.

2. 커피 자판기 프로그램
- 시나리오: 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위 내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력.
- 각 케이스 별 멘트 출력은 상황에 맞게 창작.
- while if elif else 제어문을 사용하여 작성.

In [1]:
# while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해보세요.

i=0
sum=0
while i<1001:
    i=i+1
    if i%3==0 and i%5==0:
        sum=sum+i
        
print(sum)

# 드디어 뭔가 답이 나왔다... 난 저게 오답이어도 너무 행복할 것 같아. 1000까지니까 1001로!!

# 오답 아니고 정답 나왔음.^^ 나는 짱

33165

In [58]:
# 1부터 5까지 입력해서 12345를 출력하세요.

x=int(input("1을 입력하세요: "))
y=int(input("2를 입력하세요: "))
z=int(input("3을 입력하세요: "))
a=int(input("4를 입력하세요: "))
b=int(input("5를 입력하세요: "))
print(x,y,z,a,b)

# print("1부터 5까지 입력해 주세요.")
# a = input()
# b = input()
# c = input()
# d = input()
# e = input()
# print(a+b+c+d+e)

1을 입력하세요: 1
2를 입력하세요: 2
3을 입력하세요: 3
4를 입력하세요: 4
5를 입력하세요: 5
1 2 3 4 5

In [3]:
# [0,1,2,3,4,5,6,7,8,9,'a','b','c']에서 9와 'a'를 삭제 후 리스트로 출력하세요.

list1=[0,1,2,3,4,5,6,7,8,9,'a','b','c']

del list1[9:11]
print(list1)

# list = [0,1,2,3,4,5,6,7,8,9,'a','b','c'] 
# list.remove (9)
# list.remove ('a')
# print(list)

# list = [0,1,2,3,4,5,6,7,8,9, 'a','b','c']
# del list[9]
# del list[9]
# # print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [12]:
# [0,1,2,3,4,5,6,7,8,'b','c']에서 'c'를 삭제 후 출력하세요.

list1=[0,1,2,3,4,5,6,7,8,9,'a','b','c']
del list1[-1]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b']

In [16]:
# [4,8,5,4,8,4,3,9,1,9]를 내림차순으로 정렬하세요.

li=[4,8,5,4,8,4,3,9,1,9]

li.sort()
li.reverse()
print(li)

# h=[4,8,5,4,8,4,3,9,1,9]
# i=sorted(h, reverse=True)
# print(i)

[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]

In [5]:
# format함수를 이용해서 다음과 같은 형식으로 현재날짜/시간을 출력하세요.
# " 2021년 12월 29일 15시 47분 30초 "

year=2021
month=12
day=29
time=15
minu=47
sec=30

f'{year}년 {month}월 {day}일 {time}시 {minu}분 {sec}초'

# f1 = "{}년 {}월 {}일 {}시 {}분 {}초".format(2021,12,29,15,47,30)
# print(f1)

# ======================

import datetime as dt

ct = dt.datetime.now()
print(f'{ct.year}년 {ct.month}월 {ct.day}일 {ct.hour}시 {ct.minute}분 {ct.second}초')

# ======================

# import datetime
# now=datetime.datetime.now()
# y,mo,d,h,m,s=now.year,now.month,now.day,now.hour,now.minute,now.second

# print(f"오늘 날짜는 {mo}월 {d}일입니다. 현재 시각은 {h}시 {m}분 {s}초입니다.")

오늘 날짜는 3월 8일입니다. 현재 시각은 9시 22분 49초입니다.

In [26]:
# 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.

time=10

if time < 12 and time >= 0:
    print("오전입니다.")
elif time >= 12 and time < 24:
    print("오후입니다.")
else:
    print("시각을 입력하십시오")
    
# from datetime import datetime

# now = datetime.now()
# if now.hour < 12:
#     print("현재 오전입니다")
# else:
#     print("현재 오후입니다.")

오전입니다.

In [7]:
# 정수를 입력하면 홀수 짝수를 판별하는 프로그램을 작성하세요.

i=int(input("정수를 입력해주세요."))

if i%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

정수를 입력해주세요.0
짝수입니다.

In [4]:
# 1. 계절 구분 프로그램
# - 각 계절별 출력 멘트는 계절에 맞게 창작.
# - if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성.

2023년 3월 8일 9시 21분 32초

In [ ]:
# 2. 커피 자판기 프로그램
# - 시나리오: 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위 내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력.
# - 각 케이스 별 멘트 출력은 상황에 맞게 창작.
# - while if elif else 제어문을 사용하여 작성.

coffee=5
while True:
    money = int(input('돈을 넣어주세요.: '))
    if money==300:
        print('커피 드립니다.')
        coffee=coffee-1
    elif money>300:
        print('거스름돈 %d원, 커피 드립니다.'%(money-300))
        coffee=coffee-1
    else:
        print('돈 반환. 커피를 드리지 않습니다.')
    if coffee ==0:
        print('커피가 다 떨어졌습니다.')
        break

In [45]:
# 도전과제) 우리반의 발표자를 무작위로 선정하는 프로그램을 작성하세요.
# hmkd1 = ['김나영','김동완','김예슬','김용훈','김태현','남동연','박서진','박주경',
# '손아','옥유리', '옥주리','윤예은','윤정현','이승주','임수현','장인혁', 
# '정슬기','한나영','조차선','이지연','김성호','오윤택','최정인']

In [16]:
hmkd1 = ['김나영','김동완','김예슬','김용훈','김태현','남동연','박서진','박주경','손아','옥유리','옥주리','윤예은','윤정현','이승주','임수현','장인혁','정슬기','한나영','조차선','이지연','김성호','오윤택','최정인']

#n=int(input('발표 몇명?'))
#rd=random.sample(range(0,23),n)

#for i in rd:
#    print(hmkd1[i], end=' ')

#안 되네

발표 몇명?3

NameError: name 'random' is not defined